#square {
    height: 500px;
    width: 500px;
    border: solid 5px rgb(0, 226, 0);
    background-color: rgb(27, 148, 3);
}

#rectangle {
    height: 300px;
    width: 700px;
    border: solid 5px rgb(0, 66, 0);
    background-color: rgb(33, 201, 0);
}

#circle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: rgb(3, 182, 3);
    margin-top: 100px;
    margin-left: 150px;
    border: solid 5px rgb(46, 230, 46)
}

#oval {
    height: 300px;
    width: 600px;
    border-radius: 50%;
    background-color: rgb(13, 58, 13);
    margin-top: 100px;
    margin-left: 150px;
    border: solid 5px rgb(103, 233, 103)
}

#triangle {
    height: 0;
    width: 0;
    border-bottom: 70px solid transparent;
    border-left: 70px solid transparent;
    border-right: 70px solid rgb(62, 158, 62);
}